PORT=3000
NODE_ENV=development

DB_TRUSTED_CONNECTION=false
DB_USER=
DB_PASSWORD=
DB_SERVER=localhost
DB_DATABASE=AutoSchoolDB
DB_PORT=1433
DB_ODBC_DRIVER=ODBC Driver 17 for SQL Server
DB_ENCRYPT=false

JWT_SECRET=change_me
